@-webkit-keyframes loading-spin {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes loading-spin {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}


.loader {
    width: 90px;
    height: 90px;
    border: double 7px transparent;
    border-radius: 50%;
    background-image: linear-gradient(white, white), conic-gradient(from 90deg at 50% 50%, rgba(255, 255, 255, 0) 0deg, #512DE4 360deg);
    background-origin: border-box;
    border-top-right-radius: 0px;
    /* border-bottom-right-radius: 36px; */
    background-clip: padding-box, border-box;
    -webkit-animation: loading-spin 1.7s infinite linear;
    animation: loading-spin 1.7s infinite linear;
}